/* body,
body * {
  transition: all 0.2s ease-in-out !important;
} */

/* view transitions */
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(500px);
  }
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(100px);
  }
}

/* .content {
  view-transition-name: content;
}

::view-transition-old(content) {
  animation: 150ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(content) {
  animation:
    300ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
} */

/* ::view-transition-old(card-content) {
  animation: 200ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(card-content) {
  animation: 200ms cubic-bezier(0, 0, 0.2, 1) 50ms both fade-in,
    200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
} */
